<!DOCTYPE html>
<html lang="en">
   
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href="/static/orders/css/step1.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/orders/js/drag_drop.js"></script>
    <script src="/static/orders/js/edit.js"></script>


</head>

<body>
    <div id = 'container'>
        <header>
            <div class = 'header_right'>
                <div id='my_page'><a class="test" href="/confirmations/my_order/" target="my_page">마이페이지</a></div>
                <div id='logout'><a href="/accounts/logout/" target="logout">로그아웃</a></div>
            </div>
            <div class = 'header_left'>
                <a href= "{% url 'home' %}" ><img style="width: 48px; height: 54.47px;" src="/static/Group-1.png" alt="로고"></div></a>
            </div>
            
        </header>

        <section>

            <div class="section_1">
                <div class = 'bar_box'>
                    <div id='circle'></div>
                    <div id='circle' style="background-color:#7558EE"></div>
                    <div id='circle'></div>
                    <div id='circle'></div>
                </div>
            </div>

            <form action="{% url 'create_order' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class='section_2'>
                    <div id = file_upload_box>
                        <div id='file_upload'>파일 업로드</div>
                
                        <form name="uploadForm" id="uploadForm" enctype="multipart/form-data" method="post">
                            <div id="dropZone">
                            
                                <img src = "/static/upload.png" width="42px" height="42px">
                             
                                드래그해서 업로드하기
                           
                            </div>
                            <table id="fileListTable" >
                                <tbody id="fileTableTbody">
                
                                </tbody>
                            </table>
                        </form>
                    </div> 
                    
                    <div id='choose_box'>
                       
                        
                        <div id='direct_edit'>
                            <div id="direct_edit_1">인쇄 용지 설정</div>
                            <div id ='direct_edit_2'>
                                <img src="/static/Path_43.png" width=100% height = 6.63px >
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class='edit'>
                    <div id='edit_content'>

                        <div id='edit_content_1'>
                            <div id='edit_content_title'>용지설정</div>
                            <div style="display: flex;">
                                <div id = selected>
                                    <input type="radio" id= "rd1" name="optionDirection" value="vertical" onclick='radio_Test()'; checked/>
                                    <label for='rd1'><img id='vertical_img' src='/static/Subtraction_3.png'></label>
                                </div>

                                <div id="selected">
                                    <input type="radio" id='rd2' name="optionDirection" value="horizon" onclick='radio_Test()'; checked />
                                    <label for="rd2"><img id='horizon_img' src='/static/Group_116.png'></label>
                                </div>
                            </div>
                        </div>
                            
                       <div id='edit_content_2'>
                            <input type="radio" 
                            name="pagePerSheet" value="one">1
                            <input type="radio"
                            name="pagePerSheet" value="two">2
                            <input type="radio"
                            name="pagePerSheet" value="four">4
                        </div>
                        <div id='edit_content_3'>
                            <input type="radio" 
                            name="optionPrint" value="double">양면
                            <input type="radio"
                            name="optionPrint" value="single">단면
                        </div>
                        <div id='edit_content_4'>
                            <input type="radio" 
                            name="optionColor" value="black">흑백
                            <input type="radio"
                            name="optionColor" value="color">컬러
                        </div>
                            <div id='edit_content_5'>
                            <input type="radio"
                            name="optionFlip" value="horizontal">옆으로 넘김
                            <input type="radio" 
                            name="optionFlip" value="vertical">위로 넘김
                        </div>
                        <div id='edit_content_6'>
                            총 페이지 수:
                            <input type="number" name="numPages">
                        </div>
                    </div>
                </div>

                <div class='request_box'>
                    <div id="request_box_content">
                            <div style=
                            "font-size: 1.375rem; 
                            font-family:'Open Sans', sans-serif;
                            font-weight: normal;
                            font-weight: 600;
                            margin-bottom: 24px;">
                            추가 요청사항
                            </div>
                            <textarea id="request" name="request"></textarea>
                    </div>
                </div>
                <div class = 'next_button_box'>
                    <button id='next_button' type="submit" value="인쇄소 선택하기">
                        <img src="/static/select_button.png" width=100% height = 42.7% >
                    </button>
                </div>
            </form>

        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/orders/js/drag_drop.js"></script>
    <script src="/static/orders/js/edit.js"></script>

</body>
</html>