<!DOCTYPE html>
<html lang="en">
   
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href="/static/orders/css/step1.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/orders/js/drag_drop.js"></script>
    <script src="/static/orders/js/edit.js"></script>


</head>

<body>
    <div id = 'container'>
        <header>
            <div class = 'header_right'>
                <div id='my_page'><a class="test" href="/confirmations/my_order/" target="my_page">마이페이지</a></div>
                <div id='logout'><a href="/accounts/logout/" target="logout">로그아웃</a></div>
            </div>
            <div class = 'header_left'>
                <a href= "{% url 'home' %}" ><img style="width: 48px; height: 54.47px;" src="/static/Group-1.png" alt="로고"></div></a>
            </div>
            
        </header>

        <section>

            <div class="section_1">
                <div class = 'bar_box'>
                    <div id='circle'></div>
                    <div id='circle' style="background-color:#7558EE"></div>
                    <div id='circle'></div>
                    <div id='circle'></div>
                </div>
            </div>

            <form action="{% url 'create_order' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class='section_2'>
                    <div id = file_upload_box>
                        <div id='file_upload'>파일 업로드</div>
                
                        <form name="uploadForm" id="uploadForm" enctype="multipart/form-data" method="post">
                            <div id="dropZone">
                            
                                <img src = "/static/upload.png" width="42px" height="42px">
                             
                                드래그해서 업로드하기
                           
                            </div>
                            <table id="fileListTable" >
                                <tbody id="fileTableTbody">
                
                                </tbody>
                            </table>
                        </form>
                    </div> 
                    
                    <div id='choose_box'>
                       
                        
                        <div id='direct_edit'>
                            <div id="direct_edit_1">인쇄 용지 설정</div>
                            <div id ='direct_edit_2'>
                                <img src="/static/Path_43.png" width=100% height = 6.63px >
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class='edit'>
                    <div id='edit_content'>

                        <div id='edit_content_1'>
                            <div id='edit_content_title'>용지설정</div>
                            <div style="display: flex; padding-right: 100px;">
                                <div id = selected>
                                    <input type="radio" id= "rd1" name="optionDirection" value="vertical" onclick='radio_Test1()'; checked/>
                                    <label for='rd1'><img id='vertical_img' src='/static/garo.png' class = 'image_setting' ></label>
                                </div>

                                <div id="selected">
                                    <input type="radio" id='rd2' name="optionDirection" value="horizon" onclick='radio_Test1()'; checked />
                                    <label for="rd2"><img id='horizon_img' class = 'image_setting' src='/static/sero.png'></label>
                                </div>
                            </div>
                        </div>
                            
                       <div id='edit_content_2'>
                           <div id="edit_content_title">시트당 페이지 수</div>
                           <div style="display: flex">
                                <div id='selected'>
                                    <input type="radio" id='rd3' name="pagePerSheet" value="one" onclick="radio_Test2()"; checked />
                                    <label for='rd3'><img id='one_img' class = 'image_setting' src='/static/one.png'></label>
                                </div>
                                <div id='selected'>
                                    <input type="radio" id="rd4" name="pagePerSheet" value="two" onclick="radio_Test2()"; checked />
                                    <label for='rd4'><img id='two_img' class = 'image_setting' src='/static/two.png'></label>
                                </div>
                                <div id="selected">
                                    <input type="radio" id="rd5" name="pagePerSheet" value="four" onclick="radio_Test2()"; checked/>
                                    <label for='rd5'><img id='four_img' class = 'image_setting' src='/static/four.png'></label>

                                </div>
                            </div>
                        </div>
                        <div id='edit_content_3'>
                            <div id="edit_content_title">단면/양면(+30원/장)</div>
                            <div style="display: flex; padding-right: 100px;">
                                <div id="selected">
                                    <input type="radio" id="rd6" name="optionPrint" value="single" onclick="radio_Test3()"; checked/>
                                    <label for='rd6'><img id='single_img' class = 'image_setting' src='/static/single.png'></label>
                                </div>
                                <div id="selected">
                                    <input type="radio" id='rd7' name="optionPrint" value="double" onclick="radio_Test3()"; checked/>
                                    <label for='rd7'><img id='double_img' class = 'image_setting' src='/static/double.png'></label>
                                </div>
                            </div>                            
                        </div>

                        <div id='edit_content_4'>
                            <div id="edit_content_title">흑백/컬러(+30원/장)</div>
                            <div style="display: flex; padding-right: 100px;">
                                <div id="selected">
                                    <input type="radio" id='rd8' name="optionColor" value="black" onclick="radio_Test4()"; checked/>
                                    <label for='rd8'><img id='black_img' class = 'image_setting' src='/static/black.png'></label>
                                </div>
                                <div id="selected">
                                    <input type="radio" id="rd9" name="optionColor" value="color" onclick="radio_Test4()"; checked/>
                                    <label for='rd9'><img id='color_img' class = 'image_setting' src='/static/color.png'></label>
                                </div>               
                            </div>                                                    
                        </div>

                        <div id='edit_content_5'>
                            <div class="wrap">
                                <input type="radio" id = 'rd10' name="optionFlip" value="horizontal" style="display: inline-block;" />
                                <label for='rd10' style="height: 27px; margin-bottom: 10px; ">
                                    <sapn style="font-family: 'Open Sans', sans-serif; font-size: 1.1rem; font-weight: 600;color: #3E3E3E;">옆으로 넘김</sapn>
                                </label>

                            </div>
                            <div class="wrap">
                                <input type="radio" id='rd11' name="optionFlip" value="vertical" style="display: inline-block" />
                                <label for='rd11' style="height: 27px;">
                                    <span style="font-family: 'Open Sans', sans-serif; font-size: 1.1rem; font-weight: 600;color: #3E3E3E;">위로 넘김</span>
                                </label>
                            </div>
                            
                        </div>

                        <div id='edit_content_6'>
                            <div style="margin-right: 8px;font-family: 'Open Sans', sans-serif;
                            font-size: 1.2rem;
                            font-weight: 600;
                            color: #3E3E3E;
                            width: auto;">총 페이지 수:</div>
                            <input type="number" name="numPages">
                        </div>
                    </div>
                </div>

                <div class='request_box'>
                    <div id="request_box_content">
                            <div style=
                            "font-size: 1.375rem; 
                            font-family:'Open Sans', sans-serif;
                            font-weight: normal;
                            font-weight: 600;
                            margin-bottom: 24px;">
                            추가 요청사항
                            </div>
                            <textarea id="request" name="request"></textarea>
                    </div>
                </div>
                <div class = 'next_button_box'>
                    <button id='next_button' type="submit" value="인쇄소 선택하기">
                        <img src="/static/select_button.png" width=100% height = 42.7% >
                    </button>
                </div>
            </form>

        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/orders/js/drag_drop.js"></script>
    <script src="/static/orders/js/edit.js"></script>

</body>
</html>