html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 0;

}
header {
    width: 100%;
    height: 200px;
    position: relative;
}
section {
    width: 100%; 
    height: 880px;
}
button{
    border: none;
    background-color: transparent;

}
a[target='my_page'] {
    text-decoration: none;
    color:#7558ee;
    letter-spacing: 0.98px;
    font-size: 1.188rem;
}
a[target='logout'] {
    text-decoration: none;
    color:#959dac;
    letter-spacing: 0.98px;
    font-size: 1.188rem;
}
input[type='radio'] {
    display: none;
}
span {
    position: absolute; 
    top:100px; 
    left: 176px;
   
}
.header_right{
    position: absolute;
    display: flex;
    right: 9.27%;
    top:56%;
    width: 14.2%;
    justify-content: space-between;
    
}
.header_left{
    position: absolute;
    width: 2.5%;
    left: 8.3%;
    top:50%;
    box-sizing: border-box;
}
.bar_box {
    position: absolute;
    display: flex;
    width: 10.41%;
    height: 16px;
    top: 50px;
    left:50%; 
    transform: translate(-50%, 0);
    justify-content: space-between;
}

.section_1{
    width: 100%;
    height: 211px;
    position: relative;
}
.section_2 {
    width: 100%;
    height: 382px;
    position: relative;
    background-color: blueviolet;
}
.secion_3 {
    width: 100%;
    height: 353px;
    background-color: darkgreen;
    position: relative;
}
#my_page{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#logout{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.188rem;

}
#circle {
    width: 16px;
    height: 16px;
    background-color: #D4D2E6;
    border-radius: 50%;
}
#time {
    width: 11%;
    height: 382px;
    background-color: crimson;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
}
#printer_info {
    width: 11%;
    height: 232px;
    background-color: blue;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}
#time_box {
    width: 49%;
    height: 120px;
    background-color: #7558EE;
    border-radius: 5px 5px 5px 5px;
}
#printer_list {
    position: absolute;
    width: 31.5%;
    height: 142px;
    background-color: darkgrey;
    left: 35%;
    transform: translate(-3%, 0);
}
#printer_list_top {
    display: flex;
    justify-content: space-between;
}
#recipt_button {
    cursor: pointer;
    position: absolute;
    bottom: 60px;
    width: 100%;
    margin: 0 auto;
}

#cancel_bg{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.7);
    z-index: 1;
    position: fixed;
    display: none;
}
#cancel_modal{
    width: 558px;
    height: 260px;
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    margin: 0 auto;
    transform: translate(0, 100%);
    position: relative;
    opacity: 1;
}
#cancel {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1rem; 
    color: #959DAC; 
    cursor: pointer;
    text-decoration: underline;
}
#cancel:hover{
    font-size: 1.031rem
}
#exit {
    cursor: pointer;;
}