<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class = 'header_right'>
            <div id='my_page'><a class="test" href="/confirmations/my_order/" target="my_page">마이페이지</a></div>
            <div id='logout'><a href="/accounts/logout/" target="logout">로그아웃</a></div>
        </div>
        <div class = 'header_left'>
            <a href= "{% url 'home' %}" ><img style="width: 48px; height: 54.47px;" src="/static/Group-1.png" alt="로고"></div></a>
        </div>
        
    </header>
</body>
</html>